body {
  font-size: 16px;
  color: #fff;
  background-color: #b8616a;
  font-family: 'Arial', sans-serif;
}
h2{
  font-weight: bold;
  text-align: center;
  margin: 20px 20px;
}
p{
  font-size: 20px;
  overflow: hidden;
}
h3{
  text-align: center;
  margin: 20px;
}
#s{
  height: 700px;
  padding: 2px;
  border: 2px solid white;
  background-color: black;
  margin: 30px 10px;
  align-items: center;
}
@media (min-width: 992px) {
   .col-lg-4 {
    float: left;
    width: 30.33%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .col-md-6 {
    float: left;
    width: 45%;
  }
    .col-md-12 {
    float: left; 
    width: 93%;
  }

}
@media (max-width: 767px) {
   .col-xs-12 {
    width: 98%;
  }
}

#header-nav {
  background-color: #000000;
  border-radius: 0;
  border: 0;
}
.navbar-brand {
  padding-top: 25px;
}

.navbar-brand h1 { /* Restaurant name */
  font-family: 'Lora', serif;
  color: #b89261;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 5px;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}
#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: #951C49;
  text-align: center;
}
#nav-list a:hover {
  background: #E7E7E7;
}
#nav-list a span {
  font-size: 1.8em;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #61122f;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}